body,
html {
    font-family: system-ui;
    background-color: var(--color-bg-main);
    color: var(--color-fg-main);
    margin: 0;
    padding: 0;
}

p {
    font-size: 17px;
    word-wrap: break-word;
}

code {
    font-family: "Cascadia Mono", Consolas, "courier new";
    font-size: 14px;
}

a:link,
a:visited {
    color: var(--color-link);
}

a:hover {
    color: var(--color-accent);
}

blockquote {
    margin: 20px 0;
    padding: 0 20px;
    background-color: var(--color-bg-quote);
    border-block-start: .1em solid var(--color-bg-quote);
    border-block-end: .1em solid var(--color-bg-quote);
}

iframe {
    border-width: 0;
}

[data-theme="light"] {
    --color-bg-main: #e1e1db;
    --color-fg-main: #262625;
    --color-bg-menu: #3b2e2a;
    --color-fg-menu: #f3f0ee;
    --color-bg-quote: #a8a6a1;
    --color-accent: #e69147;
    --color-link: #26768f;
    --color-hover: #c5c5c0;
}

[data-theme="dark"] {
    --color-bg-main: #2a2d34;
    --color-fg-main: #e1e1ee;
    --color-bg-menu: #343741;
    --color-fg-menu: #e1e1ee;
    --color-bg-quote: #3b3f47;
    --color-accent: #3585f9;
    --color-link: #2b6fbd;
    --color-hover: #484d58;
}

.grid-menu {
    grid-area: menu;
    background-color: var(--color-bg-menu);
    color: var(--color-fg-menu);
}

.grid-main {
    grid-area: main;
    border: none;
}

.grid-foot {
    grid-area: foot;
    text-align: right;
    padding-right: 20px;
    color: invert(var(--color-fg-menu));
    font-weight: lighter;
}

.grid-previous {
    grid-area: previous;
    align-content: center;
    margin-left: 25%;
}

.grid-next {
    grid-area: next;
    align-content: center;
    margin-left: 25%;
}

.grid-container {
    display: grid;
    grid-template-columns: 17% 5% 1fr 5%;
    grid-template-rows: 1fr 5%;
    grid-template-areas:
        'menu previous main next'
        'menu foot foot foot';
    height: 100%;
    width: 100%;
}

.body-text {
    height: 100%;
    width: 100%;
}

.content {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 25%;
    margin-right: 25%;
}

.menu-item {
    font-size: 16px;
}

.menu-item:hover {
    cursor: pointer;
    color: var(--color-accent);
}

.is-active {
    color: var(--color-accent);
}

.move-btn {
    color: var(--color-fg-main);
    font-weight: bold;
    font-size: 25px;
    height: 90%;
    background-color: transparent;
    border: none;

    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.move-btn:hover {
    background-color: var(--color-hover);
}

.move-btn:active {
    background-color: var(--color-accent);
}

.tree {
    margin: 20px;
    position: sticky;
    align-self: start;
}

.tree,
.tree ol,
.tree ul {
    list-style: none;
    line-height: 1.75em;
    margin: 0;
    padding-left: 20px;
}

.tree label,
.tree li {
    display: block;
    position: relative;
    cursor: pointer;
    width: 100%;
}

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-height: 100%;
    max-width: 100%;
}

.img-description {
    text-align: center;
    padding: 10px 20px;
    font-weight: lighter;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table td,
table th {
    border: 1px solid var(--color-bg-quote);
    padding: 8px;
}

table tr:nth-child(even) {
    background-color: var(--color-bg-quote);
}

table tr:hover {
    background-color: var(--color-hover);
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: var(--color-bg-menu);
    color: var(--color-fg-menu);
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--color-bg-menu);
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 25px;
    background: var(--color-accent);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--color-link);
}